AMO_WEBHOOK_BASE_URL=https://curable-skimming-footsie.ngrok-free.dev
AMO_CLIENT_ID=f8ad5ded-b8d6-467b-84c2-2ca97d59efed
AMO_CLIENT_SECRET=n1e9TYmyIBuDakgf9Eh9mQ7pG0exaa8E0QVn58xv359mfsYmQPYL0FPMrYL4U4C5
AMO_REDIRECT_URI=https://curable-skimming-footsie.ngrok-free.dev/oauth/install
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=amocrm
AMO_ERROR_TASK_TYPE_ID=4304542
AMO_CHECK_TASK_TYPE_ID=4295554